/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
}

.dashboard-container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

.user-info, .recent-posts {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

p {
    margin: 0;
}
/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
}

.header {
    background: linear-gradient(45deg, #833ab4, #fd1d1d, #fcb045);
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: x-large;
}


.content {
    background-image: url(/bg.png);
    max-width: 800px;
    margin: 60px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.options {
    display: flex;
    justify-content: space-around;
}

.dashboard-link {
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: #333;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.dashboard-link:hover {
    background-color: #ddd;
}
